<div class="l-grid">
  <article class="l-grid-narrow">
      
    <header class="post__header">
      <div class="post__byline">
        <time datetime="{{ page.date }}">{{readableDate page.date}}</time>
        <span>{{#if page.meta}} • {{ page.meta }}{{/if}}</span>
      </div>
      <h1 class="site-title">{{ post.data.title }}</h1>
    </header>
      
    <div class="post__content">
      {{{ post.data.content }}}
    </div>
    {{#if post.data.draft}}<div class="draft-tag">Draft</div>{{/if}}
  </article>
</div>